.ticket{
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin: auto;
    text-align: center;
    border: 3px solid rgb(215, 178, 31);
}
.ticket-details{
    background-color: rgb(114, 223, 227);
    gap: 30px;
}
.img-details{
    display: flex;
    flex-direction: column;
    background-color: hwb(240 2% 21% / 0.849);
    color: white;
    text-align: center;
    justify-content: center;
}

.heading{
    display: flex;
    flex-direction: row;
    gap:30px;
    text-align: center;
}

.heading p{
    color: rgb(11, 7, 63);
    font-size: 20px;
    padding: 5px;
}

.heading span{
    font-size: 25px;
    font-weight: 300;
}

.airline-details{
    display: flex;
    flex-direction: row;
    gap:30px;
}


.passenger-details{
    display: flex;
    flex-direction: row;
    gap:30px;
}

.departure-details{
    display: flex;
    flex-direction: row;
    gap:30px;
}

.img-details img{
    width: 300px;
}

.line-1{
    background-color: green;
    width: 500px;
    margin-top: 40px;
    height: 8px;
}

.line-2{
    background-color: green;
    width: 300px;
    height: 8px;
}

.line-12{
    background-color: white;
}

.line-21{
    background-color: white;
}

.section{
    width: 20px;
    background-color: white;
}
